:root {
	/*Greys*/
	--g1: #000000;
	--g2: #212121;
	--g3: #303030;
	--g4: #424242;

	/*Whites*/
	--w1: #ffffff;
	--w2: #fafafa;
	--w3: #f5f5f5;
	--w4: #e0e0e0;

	/*Blues Primario*/
	--bp1: #1565C0;
	--bp2: #1565C0;
	--bp3: #757de8;

	/*Greys Secondario*/
	--gs1: #546e7a;
	--gs2: #29434e;
	--gs3: #819ca9;
}

* {
	font-family: "Roboto", sans-serif;
}

#ecra {
	user-select: none;
	width: 100%;
	height: 100%;
	position: relative;
}

#ecra h1 {
	margin: 0;
	font-family: "Roboto", sans-serif;
	user-select: none;
}

/*Default Settings used by screens in watch */

.app {
	/*width: 100%;
	height: 100%;*/
	border-radius: 2%;
	position: absolute;
	width: 72%;
	height: 76%;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	margin: auto;
	/*pointer-events: none;*/
	/*keep aspect ratio*/
	object-fit: cover;
}

.disabled {
	display: none;
}

.menu {
	width: 100%;
	height: 100%;
	position: relative;
	background: grey;
	/*z-index: 90;*/
	text-align: center;
}

.menu i {
	color: white;
	font-size: 10em;
	margin-top: 25%;
	user-select: none;
}

.menu h1 {
	position: absolute;
	bottom: 15px;
	left: 0;
	right: 0;
	font-size: 2.4em;
	font-weight: bold;
	text-transform: uppercase;
	letter-spacing: 0.05em;
	/*margin-bottom: 20;*/
}

.fixbar {
	height: 14%;
}

#bar {
	background-color: black;
	height: 11%;
	top: -66%;
	z-index: 80;
	display: grid;
	grid-template-columns: 1fr 1fr;
	user-select: none;
}

#bar h4 {
	color: white;
	font-size: 1.8em;
	margin: 0;
	margin-top: auto;
	margin-bottom: auto;
}

#bar-timeicon {
	padding-right: 5%;
	text-align: right;
}

#bar-title {
	padding-left: 5%;
	text-align: left;
}

#menu-cartaz {
	background-color: var(--bp1);
}

#menu-mapa {
	background-color: #F44336;
}

#menu-pedidos {
	background-color: #4CAF50;
}

#menu-ajuda {
	background-color: var(--gs1);
}

.overflow {
	overflow: hidden;
}

#black {
	background: black;
	z-index: 95;
}

#boot-anim {
	text-align: center;
	/*background-color: white;*/
	background-image: url("../resources/c.gif");
	background-position: left;
	background-size: auto;
	background-repeat: no-repeat;
	background-blend-mode: hue;
	z-index: 200;
	opacity: 0;
}

#boot-anim h1 {
	padding-top: 49%;
	font-size: 3em;
	color: #f5f5f5;
	opacity: 0;
	user-select: none;
}

#lockscreen {
	background-image: url("../resources/lockscreen.jpg");
	text-align: center;
	background-size: cover;
	background-repeat: no-repeat;
	z-index: 100;
	opacity: 0;
	height: 100%;
	width: 100%;
	/*overflow: hidden;*/
}

#lockscreen i {
	position: absolute;
	/*center*/
	margin-left: auto;
	margin-right: auto;
	left: 0;
	right: 0;
	flex: auto;
	bottom: 0;
	color: #e5e5e5;
	user-select: none;
}

#lock-Time {
	padding-top: 45%;
	font-size: 4em;
	color: #f5f5f5;
	font-family: "Roboto", "Helvetica", "Arial", sans-serif;
	font-weight: 400;
}

.dragDiv {
	position: absolute;
	user-select: none;
	top: 14%;
	bottom: 13%;
	left: 1%;
	right: 1%;
	height: 69%;
}

#dragDiv {
	top: 0;
	height: 300%;
}

#cartaz {
	background-color: var(--w4);
	/*z-index: 80;*/
}

#cartaz button {
	background-color: var(--bp2);
	font-size: 2em;
	height: 38%;
	margin: 3% auto;
	left: 3%;
	width: 94%;
}

#band {
	background: var(--w4);
	opacity: 0;
}

#band button {
	padding: 0;
	color: var(--w1);
	font-size: 1.2em;
	text-align: center;
	width: 46%;
	line-height: 50%;
}

#bt-reminder {
	position: absolute;
	right: 2%;
	bottom: 2%;
	height: 13%;
	background-color: var(--bp2);
}

#bt-nav {
	position: absolute;
	left: 2%;
	bottom: 2%;
	height: 13%;
	background-color: var(--bp2);
}

#bandas-list {
	height: auto;
	width: 100%;
	/*z-index: 70;*/
	transition: 0s;
	background-color: var(--w4);
}

#horario-list {
	height: auto;
	width: 100%;
	/*z-index: 70;*/
	transition: 0s;
	background-color: var(--w4);
}
#horario-list2 {
	height: auto;
	width: 100%;
	left: 145px;
	/*z-index: 70;*/
	transition: 0s;
	background-color: var(--w4);
}

.button-style {
	background-color: var(--w1);
	user-select: none;
	color: white;
	border-radius: inherit;
}

.bt-band {
	background-color: var(--bp2);
	width: 94%;
	left: 3%;
	margin: 3% auto;
	height: 50px;
	user-select: none;
}

.bt-schedule {
	background-color: var(--bp2);
	margin: 3% auto;
	width: 94%;
	left: 3%;
	height: 50px;
	user-select: none;
}

.bt-mapa {
	background-color: #F44336;
	margin: 3% auto;
	width: 94%;
	left: 3%;
	height: 50px;
	user-select: none;
}

.no-hover:hover {
	background: var(--bp2);
}

.bt-past{
	 background-color: #607D8B !important;
}
.bt-past:hover{
	background-color: #607D8B !important;
}

#menu {
	position: absolute;
	height: 100%;
	width: 100%;
	z-index: 50;
}

.popup {
	background: rgba(224, 224, 224, 1);
	border: 1px solid var(--bp2);
	height: 25%;
	top: -26%;
	text-align: left;
	position: absolute;
	width: 98.5%;
	z-index: 200;
	border-radius: inherit;
	font-family: "Roboto";
}

.popup-text {
	font-size: 1.4em;
	color: #000000;
}

.popup-button {
	position: absolute;
	background: transparent;
	right: 0;
	bottom: 0;
	color: #ff0000;
	border: 0;
}

.notification {
	border-radius: inherit;
	text-align: left;
	position: absolute;
	left: 7.5%;
	width: 85%;
	height: 20%;
	background: rgba(224, 224, 224, 0.9);
}

.notification-text {
	color: #000000;
	left: 2%;
}

.notification-bt {
	position: absolute;
	background: transparent;
	right: 0;
	bottom: 0;
	color: #ff0000;
	border: 0;
}

#menu-status {
	position: absolute;
	right: 0;
	top: 14%;
	height: 86%;
	z-index: 60;
	/*padding-left: 70%;*/
}

#menu-balls {
	top: 12.5%;
	margin: 0 auto;
}

.no-touch {
	pointer-events: none;
}

.pargraph {
	position: relative;
	vertical-align: middle;
	text-align: middle;
	line-height: -50%;
	margin: 3px;
}

.text0 {
	user-select: none;
	border-radius: inherit;
	background-color: var(--bp2);
	width: 100%;
	color: var(--w1);
	font-size: 1.5em;
}


.text1 {
	user-select: none;
	border-radius: inherit;
	background-color: var(--w1);
	width: 100%;
	color: var(--g1);
}

.text2 {
	user-select: none;
	border-radius: inherit;
	background-color: var(--w1);
	width: 100%;
	color: var(--g1);
	text-align: left;
}

.text3 {
	user-select: none;
	border-radius: inherit;
	background-color: var(--w1);
	width: 100%;
	color: var(--g1);
	text-align: left;
}
.text4 {
	user-select: none;
	border-radius: inherit;
	background-color: var(--w1);
	width: 100%;
	color: var(--g1);
	text-align: left;
}
.text4 > p {
	text-align: left;
}

.bt-text {
	right: 0;
	border-radius: inherit;
	background-color: var(--w1);
	height: 66%;
	text-align: left;
	line-height: 50%;
	font-size: 0.8em;
	color: var(--g1);
}
.bt-text span{
	margin: 2px;
}

.bt-title {
	margin: 0 2px;
	font-size: 0.9em;
	right: 0;
	line-height: 120%;
	border-radius: inherit;
	text-align: left;
	/*background-color: var(--bp2);*/
	height: 33%;
}

.bt-textmap {
	right: 0;
	border-radius: inherit;
	background-color: var(--w1);
	height: 66%;
	text-align: left;
	line-height: 50%;
	font-size: 0.8em;
	color: var(--g1);
}
.bt-textmap span{
	margin: 2px;
}

.bt-titlemap {
	margin: 0 2px;
	font-size: 0.9em;
	right: 0;
	line-height: 120%;
	border-radius: inherit;
	text-align: left;
	/*background-color: var(--bp2);*/
	height: 33%;
}

/*Tratar no futuro animacoes*/

.transition {
	transition: 0.35s;
}

#inner-map {
	position: absolute;
	background-image: url("../resources/map/map.png");
	top: -16%;
	left: -180%;
	width: 1568px;
	height: 676px;
	background-size: contain;
	background-repeat: no-repeat;
	transition: 0.2s;
}
#options-mapa-list{
	background-color: var(--w4);
	margin: 0px;
	height: 100%;
	width: 100%;
}

#options-mapa-list > button{
	background-color: #F44336;
	width: 94%;
	left: 3%;
	margin: 3% auto;
	height: 50px;
	user-select: none;
}

#mapa-opcoes1 > button{
	background-color: #F44336;
	width: 94%;
	left: 3%;
	margin: 3% auto;
	height: 50px;
	user-select: none;
}

#mapa-opcoes2 > button{
	background-color: #F44336;
	width: 94%;
	left: 3%;
	margin: 3% auto;
	height: 50px;
	user-select: none;
}

#mapa-opcoes3 > button{
	background-color: #F44336;
	width: 94%;
	left: 3%;
	margin: 3% auto;
	height: 50px;
	user-select: none;
}

#mapa-opcoes1{
	background-color: var(--w4);
}

#mapa-opcoes2{
	background-color: var(--w4);
}

#mapa-opcoes3{
	background-color: var(--w4);
}

#mapa-opcoes1 > button:hover{
	background: #F44336;
}

#mapa-opcoes2 > button:hover{
	background: #F44336;
}

#mapa-opcoes3 > button:hover{
	background: #F44336;
}

.mapaopcoes{
	margin: 0px;
	height: 100%;
	width: 100%;
}

.no-hover2:hover {
	background: #F44336;
}

.mapbar {
	background: rgba(224, 224, 224, 1);
	border: 1px solid #F44336;
	height: 15%;
	bottom: -16%;
	text-align: left;
	position: absolute;
	width: 100%;
	border-radius: inherit;
	font-family: "Roboto";
}

.map-text {
	padding-left: 5%;
	top:50%;
	font-size: 1.4em;
	color: #000000;
}

.map-button {
	position: absolute;
	background: transparent;
	right: 0;
	bottom: 0;
	color: #ff0000;
	border: 0;
}

.spinner {
	width: 60px;
	height: 60px;
	margin: 50% auto;
	background-color: #F44336;
	z-index: 200;
	border-radius: 100%;  
  }
  
  @-webkit-keyframes sk-scaleout {
	0% { -webkit-transform: scale(0) }
	100% {
	  -webkit-transform: scale(1.0);
	  opacity: 0;
	}
  }
  
  @keyframes sk-scaleout {
	0% { 
	  -webkit-transform: scale(0);
	  transform: scale(0);
	} 100% {
	  -webkit-transform: scale(1.0);
	  transform: scale(1.0);
	  opacity: 0;
	}
  }