:root{
	--c1:#F3D57E;
	--c2:#5FB19A;
	--c3:#374D4D;
	--cb:#222;
}
*{
	font-family: "Roboto",sans-serif;
}
#ecra{

	/* margin-top: 20%; */
	/* padding-top: 20%; */

	width: 100%;
	height: 100%;
	position: relative;
	/* Old screen*/
	/*padding-top: 14%;
	padding-bottom: 14%;
	padding-left: 14%;
	padding-right: 14%;
 	box-sizing: border-box;*/

	 /*background-color: red;*/
}
#ecra h1{
	margin: 0;
	/*color: #222222;*/
	font-family: "Roboto",sans-serif;
	user-select: none;
}
/*Default Settings used by screens in watch */
.app{
	width: 100%;
	height: 100%;
	border-radius: 2%;
	position: absolute;
	width: 72%;
	height: 76%;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	margin: auto;

	/*keep aspect ratio*/
	object-fit: cover;
}
.disabled{
	display: none;
}

.menu{
	background: grey;
	z-index: 90;
	text-align: center;
}
.menu i{
	color: white;
	font-size: 10em;
	margin-top: 20%;
	user-select: none;
}
.menu h1{
	position: absolute;
	bottom: 20px;
	left: 0;
	right: 0;
	font-size: 2.4em;
	font-weight: bold;
	/*margin-bottom: 20;*/
}
#bar{
	background-color: black;
	height: 10%;
	top: -66%;
	z-index: 80;
	display: grid;
	grid-template-columns: 1fr 1fr;

}

.fixbar{
	height: 10%;
}

#bar h4{

	color:white;
	font-size:1.8em;
	margin: 0;
	margin-top:auto;
	margin-bottom:auto;

}
#bar-time{
	padding-right: 5%;
	text-align: right;
}
#bar-title{
	padding-left: 5%;
	text-align: left;
}
#menu-mapa{
	background-color: #e34567;
}
.overflow{
	overflow: hidden;
}
#black{
	background: black;
	z-index: 95;
}
#boot-anim{
	text-align: center;
	/*background-color: white;*/
	background-image: url("../resources/c.gif");
	background-position: left;
	background-size: auto;
	background-repeat: no-repeat;
	background-blend-mode: hue;
	z-index: 200;
	opacity: 0;
}
#boot-anim h1{
		padding-top: 49%;
		font-size: 3em;
		color: #f5f5f5;
		opacity: 0;
		user-select: none;
}
#lockscreen{
	/*display: flex;*/
	background-image: url("../resources/lockscreen.jpg");
	text-align: center;
	/*background-position: center;*/
	background-size: cover;
	background-repeat: no-repeat;
	z-index: 100;
	opacity: 0;
	/*transform: translate(0,-200px);*/
	height: 100%;
	width: 100%;
	/*overflow: hidden;*/
}
#lockscreen i{
	position: absolute;
	/*center*/
	margin-left: auto;
	margin-right: auto;
	left: 0;
	right: 0;

	flex: auto;
	bottom: 0;
	color: #e5e5e5;
	user-select: none;
}
#lock-Time{
	padding-top: 45%;
	font-size: 4em;
	color: #f5f5f5;
	font-family: "Roboto","Helvetica","Arial",sans-serif;
	font-weight: 400;
}
#cartaz{
	/*z-index: 80;*/

}
#cartaz button{
	color: var(--cb);
	font-size: 3em;
	height: 45%;
	width: 100%;
}
#bt-bandas{
	background-color: var(--c1);
}
#bt-horario{
	background-color: var(--c2);
}
#band button{
	padding: 0;
	color: var(--cb);
	font-size: 1.2em;
	text-align: center;
	width: 50%;
}
#bt-reminder{
	position: absolute;
	right: 0;
	bottom: 0;
	background-color: var(--c1);
}
#bt-nav{
	position: absolute;
	left: 0;
	bottom: 0;
	background-color: var(--c2);
}
#bandas-list{
	height: auto;
	width: 100%;
	/*z-index: 70;*/
	background-color: white;
}
#horario-list{
	height: auto;
	width: 100%;
	/*z-index: 70;*/
	background-color: white;
}
.bt-lista{
	background-color: white;
	width: 100%;
	height: 62px;
	user-select: none;
}
.bt-band{
	background-color: white;
	width: 100%;
	height: 62px;
	user-select: none;
}
.bt-schedule{
	background-color: white;
	width: 100%;
	height: 62px;
	user-select: none;	
}
.no-hover:hover{
	background: white;
}
#band{
	background: white;
}