@import "watch.css";
@import "ecra.css";
/*Titulos pagina*/

header {
	text-align: center;
}

header h1 {
	margin-bottom: 0;
	color: #222;
	font-family: Arial, sans-serif;
	font-size: 60px;
}

header h3 {
	color: #888;
	font-family: "Roboto", "Helvetica", "Arial", sans-serif;
	font-weight: 500;
	/*font-size:20px;*/
	margin-top: 1%;
	margin-bottom: 3%;
}